#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #dfbc38;
}

.bg-dark {
  background-color: #a3216f !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #dfbc38;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#mainNav .navbar-brand {
  color: #dfbc38;
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
}

